{% extends 'base.html' %}

{% block title %}Groups | Wahl's Address Book{% endblock %}
{% block menuCollectionActive %}active{% endblock %}

{% block body %}

    {% if action == 'edit' or action == 'create' %}
        <h2>{% if action == 'edit' %}Modify a {% else %}Add a new {% endif %}group</h2>
        <form action="/groups/save/" method="POST">
            <div class="row mb-2">
                <div class="col-md-1">Name:</div>
                <div class="col-md-11"><input type="text" name="name" class="form-control" value="{{ editCollection.name }}"></div>
            </div>
            <div class="row mb-2">
                <div class="col-md-1">Inherit from:</div>
                <div class="col-md-11">
                    {% for childCollectionId in editCollection.directChildCollectionIds %}
                        <select name="childCollections[]" class="addChildCollection d-block mb-2">
                            <option value="">...</option>
                            {% for collection in collectionData.collections %}
                                {% if editCollection.id != collection.id %}
                                    <option value="{{ collection.id }}" {% if collection.id == childCollectionId %}selected{% endif %}>{{ collection.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endfor %}
                    <select name="childCollections[]" class="addChildCollection d-block mb-2">
                        <option value="">...</option>
                        {% for collection in collectionData.collections %}
                            {% if editCollection.id != collection.id %}
                                <option value="{{ collection.id }}">{{ collection.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <small class="opacity-25 fst-italic">* To delete a connection select '...' from the dropdown. The connection will be deleted on save.</small>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ editCollection.id }}">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    {% else %}
        <a class="btn btn-primary" href="/groups/create/">Add group</a>
    {% endif %}
    
    <br><br>

    <h2>Groups</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-4">Name</th>
                <th scope="col-md-3">Group count</th>
                <th scope="col-md-3">Contact count</th>
                <th scope="col-md-1">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collectionData.collections %}
                <tr>
                    <td>{{ collection.id }}</td>
                    <td>{{ collection.name }}</td>
                    <td>{{ collection.childCollectionIds|length-1 }}</td>
                    <td>{{ collection.contacts|length }}</td>
                    <td>
                        <i class="bi bi-people-fill text-primary contact-list-button" role="button"></i>&nbsp; 
                        <a href="/groups/edit/{{ collection.id }}"><i class="bi bi-pencil-fill"></i></a>&nbsp; 
                        <a href="/groups/delete/{{ collection.id }}"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
                <tr class="contact-list d-none">
                    <td colspan="10" class="bg-secondary-subtle">
                        {% if collection.contacts|length > 0 %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col-md-1">#</th>
                                        <th scope="col-md-2">First Name</th>
                                        <th scope="col-md-2">Last Name</th>
                                        <th scope="col-md-2">E-mail</th>
                                        <th scope="col-md-2">Street</th>
                                        <th scope="col-md-1">Zip</th>
                                        <th scope="col-md-1">City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contact in collection.contacts %}
                                        <tr>
                                            <td>{{ contact.id }}</td>
                                            <td>{{ contact.first_name }}</td>
                                            <td>{{ contact.last_name }}</td>
                                            <td>{{ contact.email }}</td>
                                            <td>{{ contact.street }}</td>
                                            <td>{{ contact.zip }}</td>
                                            <td>{{ collectionData.cities[contact.city_id].name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <span class="opacity-50 fst-italic">There are no contacts in this group.</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
